@font-face {
    font-family: 'Averia Serif Libre';
    src: url('fonts/averia-regular-webfont.eot');
    src: url('fonts/averia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/averia-regular-webfont.woff') format('woff'),
         url('fonts/averia-regular-webfont.ttf') format('truetype'),
         url('fonts/averia-regular-webfont.svg#AveriaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
